
/*--------------- google-fots-link ----------------*/
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:wght@500&family=Raleway:wght@100&family=Roboto+Slab&family=Ubuntu:ital@1&display=swap');

/* ----------------------------global-css-style-section------------------------- */
a{
    text-decoration: none;
    color: black;
}
*{
    padding: 0%;
    margin: 0%;
    font-family: 'Roboto Slab', serif;
}
body{
    overflow-x: hidden;
}
.tomato{
    color: tomato;
}
.website-button{
    font-size: 20px;
    margin-top: 50px;
    color: tomato;
    border: none;
    background: transparent;
}
.website-button a{

    color: white; 
    border: 5px solid white;
    padding: 15px 45px;
    background-color:tomato;
    font-size: 20px;
   
}

.website-button a:hover{

    color: tomato; 
    border-radius: 30px;
    border: 2px solid tomato;
    padding: 15px 45px;
    border: 5px solid tomato;
    background: transparent;
    transition: 0.5s;
    font-size: 20px;
}

/* ----------------------------- header-section-start------------------------------ */

#header{
    margin-left: auto;
    margin-right: auto;
}
.header-section{
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}
.header-name a:hover{
    color: tomato;
    transition: 0.5s ease-in-out;

}
.header-text p{
    text-align: left;
}
.header-item ul{
    list-style: none;
    display: flex;
}
.header-item li{
    margin-left: 50px;
}
.header-item a{
    font-size: 20px;
    font-weight: 800;
}
.header-item a:hover{
    color: tomato;
    transition: 0.5s ease-in-out;
   
}

/*-----------------------------header-banner-section-start------------------------ */

.header-banner{
    display: flex;
    justify-content: space-around;
    margin-top: 10%;

}
.header-text{
    width: 30%;
}
.header-text h1{
    font-size: 50px;
    
}
.header-text p{
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.fa-arrow-right{
    margin-left: 20px;
}
.header-image img{
    position: relative;
    right: 200px;
    bottom: 100px;
    
}
.sponsorship-tag-section{
    margin-left: 12%;
    box-shadow:0px 5px 30px -11px grey;
    padding: 10px 100px;
    width: 60%;
    border-radius: 10px;
}
.spnosor-img img{
    margin-left: 60px;
}
 
/* ---x---x---x---x---x----x header-banner-section-end--x---x---x----x-----x---x---*/


/* ---x---x---x---x---x----x----x header-section-end--x---x---x----x-----x---x----- */


/* -------------------------------main-section-start------------------------------- */
#main-section{
    margin-top: 7%;
    margin-left: 15%;
    margin-right: 10%;
    
    
}
.full-section h1{
    text-align: center;
    position: relative;
    right: 80px;
}
.full-catagory-sction{
    margin-top: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 5%;

}
.catagory-item{
    box-shadow:0px 5px 30px -11px grey;
    width: 60%;
    padding: 20px;
    border-radius: 5px;

}
.catagory-image img{
    width: 100%;
}
.catagory-details{
    margin-top: 20px;

}
.catagory-details h3{
    margin-top: 5px;
    margin-bottom:10px;

}
.fa-star{
    color: tomato;
}
.fa-star-half-alt{
    color: tomato;
}
.see-more a{
    color: tomato;
    position: relative;
    left:1150px;
}

/* -------------------------------blog-section-start------------------------------- */
#blog-section{
    margin-top: 20%;
   
}
#blog-section>h1{
    font-size: 40px;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
   
}
.full-blog{
    display: grid;
    grid-template-columns: 60% 40%;
}

.space p{
    width: 45%;
    background-image: linear-gradient(to right,tomato, rgb(236, 153, 141));
    padding: 5px 40px;
    border-radius: 20px;
    margin-top: 10px; 

}
.right-side{
    width: 80%;
       
}

.right-side h1,p{

    text-align: justify;
    margin-top: 10px;

}
.right-side p{
    margin-top: 10px;
    text-align: left;
}
.bolg-text p{
    text-align: justify;
}
.space-0{
    word-spacing: 125px;   
}
.space-1{
    word-spacing: 129px;   
}
.space-2{
    word-spacing: 111px;   
}
.space-3{
    word-spacing: 160px;  
}
.space-4{
    word-spacing: 100px;   
}
.space-5 {
    word-spacing: 105px;   
}
.slidebar{
    margin-left: 10%;    
}
.slidebar h2{
    margin-bottom: 10px;
    margin-left: -100px;    
}
.another-aside {
    margin-top: -80px;
}
.another-aside h2{
    margin-top:150px;
    margin-left: -100px;

}
.another-aside img{
    width: 90%;
    margin-left: -40px;

} 
.another-aside h4{
    margin-left: -40px;
    width: 90%; 
}
.lebel{
    display: flex;
}
.indent{
    text-indent:20px;
}
.lebel{
    width: 47%;
    padding-top: 11px;
    padding-bottom: 11px;
    background-image: linear-gradient(to right,tomato, rgb(236, 153, 141));
    padding-left: 30px;
    border-radius: 20px;
    position: relative;
    left: 200px;
    top: -25px;
}
.popular-lebel{
    width: 48%;
    position: relative;
    left: 50px;
    top: -25px;   
}
.card-button a{
    padding: 15px 40px;
    font-size: 17px;
}
.website-button a:hover{

    color: tomato; 
    border-radius: 30px;
    border: 2px solid tomato;
    padding: 15px 40px;
    border: 5px solid tomato;
    background: transparent;
    transition: 0.5s;
    font-size: 15px;
}


/* ---x---x---x----x----x---x-----blog-section-end--x---x---x----x----x-----x---x---*/


/* ---x---x---x----x----x---x----x main-section-end--x---x---x----x----x-----x---x---*/


/* -------------------------------footer-section-start------------------------------- */

#footer-section{
    margin-top: 7%;
    width: 100%;
    height: 300px;
    background-color: black;
    color: white;
    padding-top: 5%;
}
.foooter-info h1,p{
    text-align: center;
     padding-top: 10px;

}

.footer-icon{
   position: relative;
   left: 445px;
   margin-top: 50px;
}
.fab{
    font-size: 20px;
    color:white;
    margin-top: 12px;
    margin-left: 10px;
}
.fa-facebook-f:hover{
    color:#3f729b;
    transition: 0.5s ease-in-out;
}
.fa-instagram:hover{
    color: #D94C4C;
    transition: 0.5s ease-in-out;
}
.fa-twitter:hover{
    color:#3f729b;
    transition: 0.5s ease-in-out;
}
.fa-youtube:hover{
    color: red;
    transition: 0.5s ease-in-out;
}

/* ---x---x---x----x----x---x----footer-section-end--x---x---x----x----x-----x---x---*/


@media only screen and (max-width:768px){
    html{
        overflow-x:hidden;
    }
    
    body {
      background-color: lightblue;
      
    }
    .header-name h1{
        font-size: 25px;
        overflow-x: hidden;
    }
    .header-item{
        display: none;
    }
    .header-text h1{
        font-size: 25px;
        align-items: center;
        position: relative;
        left:100px;
        justify-content: center;
        
    }
    .header-text p{
        font-size: 15px;
        align-items: center;
        position: relative;
        left: 50px;
        justify-content: center;
        text-align: justify;
        margin-top: 300%;
        width: 200%;
        
    }
    .header-image img{
        width: 80%;
        position: relative;
        left: -65px;
        top: 200px;
    }
    .website-button{
        padding: 10px;
        position: relative;
        left: 100px;
        width: 100%;
        align-items: center;
        font-size: 7px;
    }
    .website-button a{
        padding: 10px 20px;
        font-size: 6px;
        
    }
    .fas.fa-arrow-right{
        display: none;
    }
    .sponsorship-tag-section{
        display: none;
    }

    .full-section h1{
        font-size: 25px;
        text-align: center;
        position: relative;
        right: 40px;
    }
    .full-catagory-sction{
        
       display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
        width: 130%;

    }
    #blog-section{
        display: none;
    }
    #footer-section{
        width: 120%;
        position: relative;
        right: 35px;
    }
    .foooter-info h1{
        font-size: 15px;
    }
    .foooter-info p{
        font-size: 10px;
    }

}

  
@media screen and (min-width:769px) and (max-width:992px){
    html{
        overflow-x:hidden;
    }
   
    body {
      background-color: lightblue;
      
    }
    .header-name h1{
        font-size: 45px;
        overflow-x: hidden;
    }
    .header-item{
        display: none;
    }
    .header-text h1{
        font-size: 42px;
        align-items: center;
        position: relative;
        left: 270px;
        justify-content: center;
    } 
    .header-text p{
        font-size: 35px;
        align-items: center;
        position: relative;
        left: 130px;
        justify-content: center;
        text-align: justify;
        margin-top: 300%;
        width: 200%;
        
    }
    .header-image img{
        width: 110%;
        position: relative;
        left: -195px;
        top: 200px;
    }
    .website-button{
        padding: 10px;
        position: relative;
        left: 270px;
        width: 100%;
        align-items: center;
        font-size: 7px;
    }
    .website-button a{
        padding: 10px 20px;
        font-size: 20px;
        
    }
    .fas.fa-arrow-right{
        display: none;
    }
    .sponsorship-tag-section{
        display: none;
    }

    .full-section h1{
        font-size: 45px;
        text-align: center;
        position: relative;
        right: 5px;
    }
    .full-catagory-sction{
        
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 50px;
        width: 110%;

    }
    #blog-section{
        display: none;
    }
    #footer-section{
        width: 103%;
        position: relative;
        left: -9px;
    
    }
    .foooter-info h1{
        font-size: 35px;
    }
    .foooter-info p{
        font-size: 20px;
    }
    
    
  }


  @media screen and (min-width:993px) and (max-width:1312px){ 
    html{
        overflow-x:hidden;
    }
       
        body {
          background-color: lightblue;
          
        }
        .header-name h1{
            font-size: 45px;
            overflow-x: hidden;
        }
        .header-item{
            display: none;
        }
        .header-text h1{
            font-size: 42px;
            align-items: center;
            position: relative;
            left: 270px;
            justify-content: center;
        } 
        .header-text p{
            font-size: 35px;
            align-items: center;
            position: relative;
            left: 130px;
            justify-content: center;
            text-align: justify;
            margin-top: 300%;
            width: 200%;
            
        }
        .header-image img{
            width: 110%;
            position: relative;
            left: -195px;
            top: 200px;
        }
        .website-button{
            padding: 10px;
            position: relative;
            left: 270px;
            width: 100%;
            align-items: center;
            font-size: 6px;
        }
        .website-button a{
            padding: 10px 20px;
            font-size: 20px;
            
        }
        .fas.fa-arrow-right{
            display: none;
        }
        .sponsorship-tag-section{
            display: none;
        }
    
        .full-section h1{
            font-size: 45px;
            text-align: center;
            position: relative;
            right: 5px;
        }
        .full-catagory-sction{
            
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-row-gap: 50px;
            width: 110%;
    
        }
        #blog-section{
            display: none;
        }
    
        #footer-section{
            width: 103%;
            position: relative;
            left: -9px;
        
        }
        .foooter-info h1{
            font-size: 35px;
        }
        .foooter-info p{
            font-size: 40px;
        }
        
        
}